In [7]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
positives = sorted([i for i in original_list if i > 0])
negatives = sorted([i for i in original_list if i < 0])

print("Positives:", positives)
print("Negatives:", negatives)

Positives: [2, 4, 6, 8, 10, 12]
Negatives: [-11, -9, -7, -5, -3, -1]

In [13]:
import pandas as pd
import numpy as np 
import 

studentsurveydf = pd.read_csv("JEOPARDY_DATA.csv")
studentsurveydf.columns = studentsurveydf.columns.str.lower().str.replace(' ','_')
studentsurveydf.head()

,show_number,_air_date,_round,_category,_value,_question,_answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [29]:
df = pd.read_csv("JEOPARDY_DATA.csv")
df[" Value"] = df[" Value"].str.replace("$","").str.replace(",", "")
df[" Value"] = df[" Value"].astype(float)
df[" Value"]

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       NaN
Name:  Value, Length: 216930, dtype: float64

In [30]:
df.dtypes

Show Number      int64
 Air Date       object
 Round          object
 Category       object
 Value         float64
 Question       object
 Answer         object
dtype: object

In [32]:
dfnew = pd.get_dummies(df[[" Round"," Value" ]])
dfnew

KeyError: "[' Round'] not in index"

In [ ]:
# bonus
#I think it is inconvienent because you wont be able to compare the types of money in first-class initially. And first class would have deciamls need for the money.