In [123]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from typing import List
from typing import Tuple

df = pd.read_csv("Credit_card.csv")
label_df = pd.read_csv('Credit_card_label.csv')
df.head(30)

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
5,5009753,NaN,Y,N,0,315000.0,Pensioner,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
6,5009754,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
7,5009894,F,N,N,0,180000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22134.0,365243,1,0,0,0,NaN,2
8,5010864,M,Y,Y,1,450000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,3
9,5010868,M,Y,Y,1,450000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,3
10,5010869,M,Y,Y,1,450000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,1
11,5018498,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,-18950.0,-1002,1,1,1,0,Cooking staff,2
12,5018501,F,Y,Y,0,NaN,Working,Secondary / secondary special,Married,House / apartment,-18950.0,-1002,1,1,1,0,Cooking staff,2
13,5018503,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,-18950.0,-1002,1,1,1,0,Cooking staff,2
14,5021303,M,N,N,1,472500.0,Pensioner,Higher education,Married,With parents,-8907.0,-913,1,0,0,1,NaN,3
15,5021310,M,N,Y,0,270000.0,Working,Secondary / secondary special,Married,House / apartment,-16896.0,-248,1,0,0,0,Laborers,2
16,5021314,M,N,Y,0,270000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-16896.0,-248,1,0,0,0,Laborers,2
17,5021430,F,N,Y,0,126000.0,Commercial associate,Higher education,Single / not married,House / apartment,-18907.0,-2470,1,0,0,0,Sales staff,1
18,5021431,F,N,Y,0,126000.0,Commercial associate,Higher education,Single / not married,House / apartment,-18907.0,-2470,1,0,0,0,Sales staff,1
19,5021998,M,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18863.0,-1644,1,0,0,1,NaN,2
20,5022053,M,N,N,0,202500.0,Working,Higher education,Single / not married,House / apartment,-12811.0,-4327,1,0,0,0,NaN,1
21,5022617,M,Y,Y,0,202500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-12022.0,-1674,1,0,0,1,Laborers,2
22,5023781,M,N,Y,0,157500.0,Commercial associate,Higher education,Civil marriage,House / apartment,-17800.0,-1086,1,0,0,0,Accountants,2
23,5023831,F,N,Y,2,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12135.0,-925,1,0,0,0,Sales staff,4
24,5024071,F,N,Y,0,180000.0,Working,Higher education,Married,House / apartment,-15976.0,-854,1,0,0,0,Laborers,2
25,5024213,F,Y,Y,0,540000.0,Commercial associate,Higher education,Married,House / apartment,-15702.0,-185,1,0,1,0,NaN,2
26,5024916,F,N,Y,0,112500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21832.0,365243,1,0,1,0,NaN,2
27,5024917,F,N,Y,0,NaN,Pensioner,Secondary / secondary special,Married,House / apartment,-21832.0,365243,1,0,1,0,NaN,2
28,5025127,NaN,N,Y,0,292500.0,Working,Secondary / secondary special,Married,House / apartment,-11111.0,-3350,1,0,0,0,High skill tech staff,2
29,5028580,M,N,N,0,540000.0,Commercial associate,Higher education,Married,House / apartment,-19996.0,-691,1,0,0,0,Managers,2

In [100]:
merged_df = pd.merge(df, card_df, on='Ind_ID')

In [101]:
merged_df.dtypes

Ind_ID                 int64
GENDER_x              object
Car_Owner_x           object
Propert_Owner_x       object
CHILDREN_x             int64
Annual_income_x      float64
Type_Income_x         object
EDUCATION_x           object
Marital_status_x      object
Housing_type_x        object
Birthday_count_x     float64
Employed_days_x        int64
Mobile_phone_x         int64
Work_Phone_x           int64
Phone_x                int64
EMAIL_ID_x             int64
Type_Occupation_x     object
Family_Members_x       int64
GENDER_y              object
Car_Owner_y           object
Propert_Owner_y       object
CHILDREN_y             int64
Annual_income_y      float64
Type_Income_y         object
EDUCATION_y           object
Marital_status_y      object
Housing_type_y        object
Birthday_count_y     float64
Employed_days_y        int64
Mobile_phone_y         int64
Work_Phone_y           int64
Phone_y                int64
EMAIL_ID_y             int64
Type_Occupation_y     object
Family_Members_y       int64
dtype: object

In [102]:
df.dtypes

Ind_ID               int64
GENDER              object
Car_Owner           object
Propert_Owner       object
CHILDREN             int64
Annual_income      float64
Type_Income         object
EDUCATION           object
Marital_status      object
Housing_type        object
Birthday_count     float64
Employed_days        int64
Mobile_phone         int64
Work_Phone           int64
Phone                int64
EMAIL_ID             int64
Type_Occupation     object
Family_Members       int64
dtype: object

In [103]:
df.columns

Index(['Ind_ID', 'GENDER', 'Car_Owner', 'Propert_Owner', 'CHILDREN',
       'Annual_income', 'Type_Income', 'EDUCATION', 'Marital_status',
       'Housing_type', 'Birthday_count', 'Employed_days', 'Mobile_phone',
       'Work_Phone', 'Phone', 'EMAIL_ID', 'Type_Occupation', 'Family_Members'],
      dtype='object')

In [104]:
#1
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df['Housing_type'] = class_labels.fit_transform(df['Housing_type'].values)
df['Type_Income'] = class_labels.fit_transform(df['Type_Income'].values)
df['GENDER'] = class_labels.fit_transform(df['GENDER'].values)
df['Car_Owner'] = class_labels.fit_transform(df['Car_Owner'].values)
df['Propert_Owner'] = class_labels.fit_transform(df['Propert_Owner'].values)
df['CHILDREN'] = class_labels.fit_transform(df['CHILDREN'].values)
df['EDUCATION'] = class_labels.fit_transform(df['EDUCATION'].values)
df['Marital_status'] = class_labels.fit_transform(df['Marital_status'].values)
df['Type_Occupation'] = class_labels.fit_transform(df['Type_Occupation'].values)
df['Annual_income'] = class_labels.fit_transform(df['Annual_income'].values)
df['Birthday_count'] = class_labels.fit_transform(df['Birthday_count'].values)
df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,1,1,1,0,60,1,1,1,1,384,365243,1,0,0,0,18,2
1,5009744,0,1,0,0,88,0,1,1,1,854,-586,1,1,1,0,18,2
2,5009746,0,1,0,0,88,0,1,1,1,1270,-586,1,1,1,0,18,2
3,5009749,0,1,0,0,115,0,1,1,1,854,-586,1,1,1,0,18,2
4,5009752,0,1,0,0,88,0,1,1,1,854,-586,1,1,1,0,18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,0,1,0,115,0,1,1,1,1003,-2182,1,0,0,0,10,2
1544,5023655,0,0,0,0,72,0,2,3,1,1167,-1209,1,0,0,0,0,1
1545,5115992,1,1,1,2,60,3,1,1,1,888,-2477,1,0,0,0,10,4
1546,5118219,1,1,0,0,81,3,4,0,1,670,-645,1,1,1,0,4,2
1547,5053790,0,1,1,0,72,3,1,1,1,559,-2859,1,0,0,0,18,2

In [105]:
#2
from statsmodels.formula.api import logit
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

y = df['Type_Occupation']
X = df[['Family_Members']]

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=42)

In [106]:
from sklearn.linear_model import LinearRegression

regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression()

In [107]:
y_pred = regression.predict(X_test) 
y_pred

array([11.00047758, 11.82583894, 10.17511621, 11.82583894, 11.00047758,
       11.00047758, 11.00047758, 11.82583894, 11.82583894, 11.00047758,
        9.34975484, 11.00047758, 11.00047758, 11.00047758, 10.17511621,
       11.00047758, 11.00047758, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 10.17511621, 11.00047758, 11.82583894,
       11.00047758, 11.00047758, 11.00047758, 10.17511621, 11.00047758,
       11.82583894, 11.00047758, 10.17511621, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 11.00047758, 10.17511621,
       10.17511621, 11.82583894, 11.00047758, 11.00047758,  9.34975484,
       10.17511621, 11.00047758, 10.17511621, 11.00047758, 11.82583894,
       11.82583894, 11.00047758, 11.00047758, 11.00047758, 11.82583894,
       10.17511621, 10.17511621, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758,  9.34975484, 11.00047758, 10.17511621,
       10.17511621, 11.00047758, 11.82583894, 11.00047758, 11.00047758,
        9.34975484, 11.82583894, 11.82583894, 11.00047758, 11.82583894,
        9.34975484, 11.00047758, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758,  9.34975484, 11.82583894, 11.82583894,
       11.82583894, 11.00047758, 11.00047758, 10.17511621, 10.17511621,
       10.17511621, 11.00047758, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.82583894,  9.34975484, 11.82583894,
       11.00047758, 10.17511621, 10.17511621, 11.82583894, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 10.17511621, 11.00047758,
       11.00047758, 11.00047758, 11.00047758,  9.34975484,  9.34975484,
       11.00047758, 11.00047758, 11.82583894, 11.00047758,  9.34975484,
       11.00047758, 11.00047758, 11.82583894, 10.17511621, 11.00047758,
       11.82583894, 10.17511621, 10.17511621, 11.00047758, 10.17511621,
       11.00047758, 11.00047758, 11.00047758,  9.34975484, 11.82583894,
       10.17511621, 11.00047758, 10.17511621, 10.17511621, 11.00047758,
       11.82583894, 11.82583894, 11.00047758, 10.17511621, 11.00047758,
       11.00047758, 10.17511621,  9.34975484, 11.82583894, 11.00047758,
       11.82583894,  8.52439348, 11.00047758, 11.00047758, 11.00047758,
       11.82583894, 11.00047758, 11.00047758, 11.82583894, 10.17511621,
       11.00047758, 11.00047758, 11.82583894, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 10.17511621, 11.00047758,
       11.82583894,  9.34975484, 11.82583894, 11.82583894, 11.00047758,
       10.17511621, 11.00047758, 11.00047758, 11.00047758,  9.34975484,
       10.17511621, 11.00047758, 10.17511621, 11.00047758, 11.82583894,
       11.00047758, 11.00047758, 11.00047758, 10.17511621, 11.00047758,
       10.17511621, 11.00047758, 11.00047758, 10.17511621, 11.00047758,
       11.82583894, 11.00047758, 11.82583894, 11.82583894, 11.82583894,
       11.82583894, 10.17511621,  9.34975484, 11.82583894, 11.82583894,
       11.82583894,  9.34975484, 11.00047758, 11.82583894, 11.00047758,
       11.00047758, 11.82583894, 11.82583894, 11.00047758, 11.82583894,
        9.34975484, 11.00047758, 11.00047758,  9.34975484, 10.17511621,
       11.82583894, 11.00047758, 11.00047758, 11.00047758, 10.17511621,
       11.00047758, 11.82583894, 11.82583894, 11.82583894, 11.00047758,
       11.00047758, 11.82583894, 11.00047758, 11.00047758, 11.82583894,
       11.00047758, 11.00047758, 10.17511621, 11.00047758, 11.00047758,
       11.82583894, 11.00047758, 11.82583894, 11.82583894, 10.17511621,
       11.00047758, 11.82583894, 11.00047758, 11.00047758,  9.34975484,
       11.82583894, 11.82583894, 11.82583894, 10.17511621, 11.00047758,
       11.82583894,  9.34975484, 11.00047758, 10.17511621,  9.34975484,
       10.17511621, 11.00047758, 10.17511621, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 10.17511621, 10.17511621,
       11.00047758,  9.34975484, 11.82583894, 11.82583894, 11.00047758,
       11.82583894, 11.00047758, 11.00047758, 10.17511621, 11.82583894,
        9.34975484, 11.82583894, 11.00047758, 11.00047758, 11.00047758,
       10.17511621, 11.82583894, 10.17511621, 11.00047758,  9.34975484,
       11.82583894,  9.34975484, 11.00047758, 11.00047758, 10.17511621,
       11.00047758, 11.00047758, 10.17511621, 10.17511621, 11.82583894,
       11.00047758, 11.00047758, 11.82583894, 10.17511621, 11.00047758,
       11.82583894, 10.17511621, 10.17511621, 11.82583894, 11.00047758,
       11.00047758, 11.82583894, 11.00047758, 11.00047758, 11.82583894,
       11.00047758, 10.17511621, 11.00047758, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 11.00047758, 11.00047758,
        9.34975484, 11.00047758, 11.00047758, 10.17511621, 11.82583894,
       10.17511621, 11.82583894, 11.00047758, 11.82583894, 11.82583894,
       11.00047758, 11.82583894, 10.17511621, 11.00047758, 11.00047758,
       11.00047758,  9.34975484, 10.17511621, 11.00047758, 11.00047758,
       11.00047758, 11.82583894, 10.17511621,  9.34975484, 11.00047758,
       11.00047758, 11.00047758, 11.00047758, 11.00047758, 11.82583894,
       11.00047758, 10.17511621, 11.82583894,  9.34975484, 11.00047758,
        9.34975484, 11.00047758, 11.00047758, 11.82583894, 10.17511621,
       11.00047758, 10.17511621, 11.00047758, 11.00047758, 11.00047758,
        9.34975484, 10.17511621, 11.00047758, 11.00047758, 11.00047758,
       11.00047758,  9.34975484, 11.00047758, 11.00047758, 11.82583894,
       10.17511621, 11.82583894, 10.17511621,  9.34975484, 11.00047758,
       11.00047758, 11.00047758, 10.17511621, 11.00047758,  9.34975484,
       11.00047758, 11.00047758,  8.52439348, 11.00047758, 11.00047758,
       11.00047758, 10.17511621, 11.00047758, 11.00047758, 11.00047758,
       11.82583894, 11.00047758, 10.17511621, 11.00047758, 11.00047758,
       10.17511621, 11.00047758, 10.17511621, 11.00047758, 11.82583894,
       10.17511621, 11.82583894, 10.17511621, 11.00047758,  8.52439348,
       11.00047758, 10.17511621,  9.34975484, 11.82583894, 11.00047758,
       11.00047758, 11.00047758, 11.00047758,  9.34975484, 11.00047758,
       11.82583894, 11.82583894, 11.82583894, 11.00047758, 10.17511621,
       11.00047758, 11.82583894, 11.00047758, 11.82583894, 11.00047758,
       11.00047758, 11.82583894, 11.00047758, 11.00047758, 10.17511621,
       11.82583894, 11.00047758, 10.17511621, 11.00047758, 11.00047758,
       11.00047758, 11.00047758, 11.00047758,  9.34975484, 11.00047758,
       10.17511621, 11.00047758, 11.00047758, 11.00047758, 11.82583894,
       11.82583894, 11.00047758, 11.00047758, 11.82583894, 11.00047758])

In [108]:
credit_card_encoded = pd.get_dummies(data = df, dtype = int)

In [109]:
credit_card_encoded.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,1,1,1,0,60,1,1,1,1,384,365243,1,0,0,0,18,2
1,5009744,0,1,0,0,88,0,1,1,1,854,-586,1,1,1,0,18,2
2,5009746,0,1,0,0,88,0,1,1,1,1270,-586,1,1,1,0,18,2
3,5009749,0,1,0,0,115,0,1,1,1,854,-586,1,1,1,0,18,2
4,5009752,0,1,0,0,88,0,1,1,1,854,-586,1,1,1,0,18,2

In [ ]:
# Overall the model did not perform well, there this was not a good dataset. I don't think it perfomed well on the fact
# that I used linear regression and that there could have been a better method used.

In [110]:
#3
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split


credit_card_encoded.isnull().sum()

Ind_ID             0
GENDER             0
Car_Owner          0
Propert_Owner      0
CHILDREN           0
Annual_income      0
Type_Income        0
EDUCATION          0
Marital_status     0
Housing_type       0
Birthday_count     0
Employed_days      0
Mobile_phone       0
Work_Phone         0
Phone              0
EMAIL_ID           0
Type_Occupation    0
Family_Members     0
dtype: int64

In [111]:
credit_card_encoded.columns

Index(['Ind_ID', 'GENDER', 'Car_Owner', 'Propert_Owner', 'CHILDREN',
       'Annual_income', 'Type_Income', 'EDUCATION', 'Marital_status',
       'Housing_type', 'Birthday_count', 'Employed_days', 'Mobile_phone',
       'Work_Phone', 'Phone', 'EMAIL_ID', 'Type_Occupation', 'Family_Members'],
      dtype='object')

In [112]:
from sklearn.neighbors import KNeighborsClassifier

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

knn = KNeighborsClassifier(n_neighbors=13) 
knn.fit(X_train, y_train) 

y_pred = knn.predict(X_test)
print(y_pred)
print(type(y_pred))

[ 8 18  3 18  8  8  8 18 18  8  1  8  8  8  3  8  8  8  8  8  8  8  3  8
 18  8  8  8  3  8 18  8  3  8  8  8  8  8  8  3  3 18  8  8  1  3  8  3
  8 18 18  8  8  8 18  3  3  8  8  8  8  8  1  8  3  3  8 18  8  8  1 18
 18  8 18  1  8  8  8  8  8  8  1 18 18 18  8  8  3  3  3  8  8  8  8  8
  8 18  1 18  8  3  3 18  8  8  8  8  3  8  8  8  8  1  1  8  8 18  8  1
  8  8 18  3  8 18  3  3  8  3  8  8  8  1 18  3  8  3  3  8 18 18  8  3
  8  8  3  1 18  8 18  8  8  8  8 18  8  8 18  3  8  8 18  8  8  8  8  8
  3  8 18  1 18 18  8  3  8  8  8  1  3  8  3  8 18  8  8  8  3  8  3  8
  8  3  8 18  8 18 18 18 18  3  1 18 18 18  1  8 18  8  8 18 18  8 18  1
  8  8  1  3 18  8  8  8  3  8 18 18 18  8  8 18  8  8 18  8  8  3  8  8
 18  8 18 18  3  8 18  8  8  1 18 18 18  3  8 18  1  8  3  1  3  8  3  8
  8  8  8  8  8  8  8  8  8  3  3  8  1 18 18  8 18  8  8  3 18  1 18  8
  8  8  3 18  3  8  1 18  1  8  8  3  8  8  3  3 18  8  8 18  3  8 18  3
  3 18  8  8 18  8  8 18  8  3  8  8  8  8  8  8  8  8  1  8  8  3 18  3
 18  8 18 18  8 18  3  8  8  8  1  3  8  8  8 18  3  1  8  8  8  8  8 18
  8  3 18  1  8  1  8  8 18  3  8  3  8  8  8  1  3  8  8  8  8  1  8  8
 18  3 18  3  1  8  8  8  3  8  1  8  8  8  8  8  8  3  8  8  8 18  8  3
  8  8  3  8  3  8 18  3 18  3  8  8  8  3  1 18  8  8  8  8  1  8 18 18
 18  8  3  8 18  8 18  8  8 18  8  8  3 18  8  3  8  8  8  8  8  1  8  3
  8  8  8 18 18  8  8 18  8]
<class 'numpy.ndarray'>

In [ ]:
# This did not perform well because of all the different varibles in the answer

In [113]:
#4
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x = credit_card_encoded.drop("Employed_days", axis = 1)
y = credit_card_encoded["Work_Phone"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42,)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [114]:
regression = LogisticRegression(random_state=32).fit(X_train, y_train)
y_predicted = regression.predict(X_test)

In [115]:
y_predicted

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [116]:
regression.score(X_test, y_test)

0.8258064516129032

In [94]:
print(knn.score(X_test, y_test))

0.21935483870967742

In [15]:
credit_card_encoded.columns

Index(['Ind_ID', 'GENDER', 'Car_Owner', 'Propert_Owner', 'CHILDREN',
       'Annual_income', 'Type_Income', 'EDUCATION', 'Marital_status',
       'Housing_type', 'Birthday_count', 'Employed_days', 'Mobile_phone',
       'Work_Phone', 'Phone', 'EMAIL_ID', 'Type_Occupation', 'Family_Members'],
      dtype='object')

In [ ]:
# The dataset perfomed well because 1.0 score.

In [128]:
#5
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
X = df[["Car_Owner","Propert_Owner"]]
y = df[""]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)
regression = LinearRegression()
regression.fit(X_train ,y_train)
y_pred = regression.predict(X_test)
accuracy_score = regression.score(X_test, y_test)
print("The model performance:", accuracy_score)

ValueError: could not convert string to float: 'M'

In [30]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/linuxbrew/.linuxbrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /home/linuxbrew/.linuxbrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in /home/linuxbrew/.linuxbrew/opt/python@3.12/lib/python3.12/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /home/linuxbrew/.linuxbrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/linuxbrew/.linuxbrew/Cellar/jupyterlab/4.2.5/libexec/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.